.login-font {
  font-family: 'Montserrat', sans-serif;
  color: white;
}
.login-header {
  font-family: 'Montserrat', sans-serif;
  color: white;
  padding-top: 70px;
  padding-bottom: 70px;
}
.signin-background {
  background: #1c92d2; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1c92d2, #f2fcfe);
  background: linear-gradient(to right, #1c92d2, #f2fcfe);
  background-size: cover;
}
